
.page {
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 600px;
}

.container {
    
    width:320px;
    padding:40px;
    background-color: white;
    /* justify-content: space-between;
    align-items: center; */
}

.header{
display: flex;
justify-content: space-between;
justify-self: center;
width: 80%;
height: 36px;
border-radius: 4px;
margin-top: 8px;
padding: 8px;
align-items: center;
}

.input-label-group{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.inline-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


h1{
    justify-self: center;
}

a{
    color: #68a3f5;
}
a:hover{
    text-decoration: underline;
}
.first-page {
    background-color: #5291e9;
            height: 600px;

}

.first-container{
border-radius: 4px;
padding: 20px;
max-width: 320px;
background-color: white;
}

 .first-page h1{
    font-weight: 300;
    font-family:  Arial, sans-serif;
    justify-self: start;
}

 .first-page p{
color: rgb(105, 105, 104);
 }
.first-form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.full-name{
    display: flex;
    gap:8px;
    width: 320px;
}

.full-name input{
width:50%
}
.first-form-input{
height: 35px;

}

input::placeholder{
    padding-left:10px;

}

.first-show{
    margin-top: 10px;
    display: flex;
    font-size:12px;
    gap:6PX;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

/* .first-form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.first-form-submit-button{
background-color:#5291e9;
border:1px #868686;
border-radius: 4px;
color:white;
padding: 16px;
width: 120px;
cursor:pointer;
font-size: 20px;
font-weight: 500;
padding: 8PX;
}

.footer-inline{
    display: block;
    justify-self: center;
    color: azure;
}

.first-form-inline-button{
text-decoration: underline;
color: azure;
background-color:transparent;
border:none;
cursor:pointer;
}

.copyright{
    justify-self: center;
}

@media (max-width:576px) {
    .full-name{
        flex-direction: column;
    }
    .full-name input{
        width:97%;
    }
    .first-container{
        height:90%
    }
}





.second-page{
    width: 100%;
    height: 400px;
}


.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 12px;
    background-color:rgb(34, 28, 43);
    box-sizing: border-box;
}

.brand{
    color: rgb(228, 105, 5);
}

.page-nav{
    display: flex;
    gap: 10px;
    color: azure;
}

.page-nav a{
        color: white;
}

.middle-section{
    background-color: beige;
    justify-content:space-between;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100%;
}


.message{
    width: 320px;
    height: 28px;
}

.page-footer{
    justify-items: center;
    background-color: rgb(252, 209, 216);
    margin: 0;
    padding: 6px;
}
@media (max-width:576px){
    .page-header{
        flex-direction:column
    }
    .message{
        width: 220px;
    }
}